@namespace KeudellCoding.Blazor.AdvancedBlazorSelect2

@typeparam TItem
@typeparam TSource

<div @attributes="AdditionalAttributes">
    <select id="@(HTML_ID_PREFIX + inputGuid)" class="select2-hidden-accessible" multiple="@Multiselect"></select>
</div>